.schedule-container {
    margin: 20px;
    
}


.schedule-container .date {
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    border-radius: 8px;
    border: 4px solid black;
    color: black
}

.schedule-container .timeslots {
    background-color: rgba(255, 255, 255, 0.8);
    width: 95%;
    border-radius: 8px;
    border: 4px solid silver;
    margin: 20px;    
    align-items: center;
    text-align: center;
}
.schedule-container td {
    width: 33%;
}

.schedule-container button{
    background-color: red;
    width: 95%;
    height: 50%;
    border-radius: 8px;
    font-size: 250%;
    cursor: pointer;
    box-shadow: 5px 10px #888888;
    font-weight: bold;

}

.schedule-container button:hover {
    background-color: rgb(180, 1, 1);
    
  }
  
  .schedule-container button:active {
    background-color: rgb(180, 1, 1);
    box-shadow: 0 5px #222222;
    transform: translateY(4px);
  }

.schedule-container img {
    width: 28%
  }

.schedule-container .time {
    font-size: 350%;
}